/* .new-exp-form{
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
} */

.new-exp-field{
    width:60%;
    margin-left:20%;
    margin-right: 20%;
}

/* .new-form-btn{
    position: relative;
} */