<mat-toolbar color="primary">
    <div class="container">
        <a class="text-light pr-3 nav-btn" routerLink="">ExpManager</a>
        <button mat-button routerLink="entries">Expenses</button>
        <button mat-button routerLink="new-entry">Add New</button>
        <span style="flex: 1 1 auto;"></span>
        <button mat-button routerLink="register">Register</button>
    </div>
</mat-toolbar>


<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">ExpManager</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-light" href="#">Expenses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#">Add New</a>
                </li>

            </ul>
        </div>
    </div>
</nav> -->

