table{
    width:100%;
}

.mat-column-Description{
    width: 25%;
}

.mat-column-Type,.mat-column-Value, .mat-column-Action{
  width: 20%;
}

.mat-header-cell {
    font-size: 1.3em;
    font-size: 20px;
    color: aliceblue;
    background-color: #3F51B5;
}

.mat-row:nth-child(even){
    background-color: #f2f2f2;
}

.mat-cell{
    padding: 10px 0;
}

.top-margin{
    margin-top: 100px;
}

.title{
    font-size: 26px;
    font-weight: 500;
}